body {
    background: linear-gradient(to right, #ff7e5f, #feb47b, #e79d86, #f71a1a);
}

.container {
    background-color: aqua;
    padding: 1rem;
    border: 4px solid blue;
    display: flex;
    flex: 1;
}

.item {
    background-color: peachpuff;
    border: 4px solid salmon;
    height: 100px; 
    flex: 1; 
    margin: 4px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.parts {
    background-color: pink;
    border: 4px solid rgb(202, 26, 6);
    flex: 1;
    margin: 2px;
}

.containerFather {
    background-color: rgb(166, 240, 178);
    border: 4px solid green;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-between;
}

.inner-item {
    border: 4px solid red; 
    background-color: pink; 
    height: 75px; 
    
    flex: 0 0 45%; 
    margin: 0;
}

#two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2px;
    flex: 1; 
}

.Box {
border: 4px solid rgb(65, 16, 16);
background-color: pink;
padding: 2rem;
flex: 1;
margin: 0.2rem;
}




.midle-container {
    display: flex;
    margin: 1rem 0;
    
    
}

.child-midle-container {
    flex-direction: column;
    margin: 0.2rem;
    margin-right: 0;
    flex: 1;
    gap: 1;
}

.boxy {
    height: auto;
    margin-right: 0;
}


.container-down {
    background-color: aqua;
    padding: 1rem;
    border: 4px solid blue;
    display: flex;
    flex: 1;
}

.table {
    border: 4px solid rgb(138, 79, 247);
    background-color: rgb(95, 180, 219);
    flex: 1;
    margin: 4px;
    padding: 2rem;

}


.floor {
    background-color: peachpuff;
    border: 4px solid salmon;
    flex: 1;
    margin: 4px;
    
}

#bigBox {
    margin-left: 0;
}